<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Emotions</title>
</head>
<body>

<form th:object="${emotion}" action="#" th:action="@{/emotions}" method="post">
  <label for="emotionWord">Enter emotion: </label>
  <input th:field="*{emotionWord}" type="text" id="emotionWord" name="emotionWord">

  <label for="description">Enter description:</label>
  <input th:field="*{description}" type="text" id="description" name="description">

  <input type="submit">
</form>

<div th:each="emotion : ${emotions}">
  <h1>
    <span th:text="${emotion.getEmotionWord()}"></span>
  </h1>
  <h3>
    <span th:text="${emotion.getDescription()}"></span>
  </h3>
</div>

</body>
</html>
